<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_AbTesting
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
     <tab id="webkul" translate="label" sortOrder="10">
        <label>Webkul</label>
    </tab>
       <section id="abtesting" translate="label" type="text" sortOrder="510" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>AbTesting</label>
            <tab>webkul</tab>
            <resource>Webkul_AbTesting::config_abtesting</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                 <field id="view_pattern" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select View Pattern</label>
                    <source_model>Webkul\AbTesting\Model\Source\ViewPattern</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
