// Product page

& when (@media-common = true) {
    // Product-reviews-summary
    .product-item {
        .product-item .product-reviews-summary {
            margin-bottom: 10px;
        }
    }

    // product media
    .fotorama__nav.fotorama__nav--thumbs {
        .fotorama__thumb-border {
            border: 1px solid #000;
        }
    }

    // Quickshop

    .quickshop-wrapper {
        .price-box {
            .price-container {
                .price {
                    font-size: 30px;
                }
            }
            .old-price {
                color: #c3c3c3;
                .price-container {
                    .price-label {
                        display: none;
                    }
                    .price {
                        color: #c3c3c3;
                        font-weight: 400;
                        font-size: 20px;
                    }
                }
            }
            .special-price {
                .price-container {
                    .price {
                        color: red;
                        font-size: 30px;
                    }
                }
            }
        }
    }

    // Product List
    .product-style10 {
        .product-item {
            .product-item-info {
                .addto-hover-container {
                    top: auto;
                    bottom: 50%;
                    height: auto;
                }
            }
        }
    }

    // End
    .product.data.items,
    .product-item-info  {
        ul.cdz-product-labels {
            li {
                &.label-item.sale {
                    background-color: #242323;
                }
                &.label-item.new {
                    display: none;
                }
            }
        }
    }

    // Label discount

    .product-item {
        .product-item-info {
            .cdz-product-wishlist {
                transform: scale(0);
                transition: .4s ease all;
            }
            &:hover {
                .cdz-product-wishlist {
                    transform: scale(1);
                }
            }
        }
        .price-box {
            .special-price {
                .price {
                    color: red;
                }
            }
            .old-price {
                color: #242323;
                .price {
                    color: #242323;
                }
            }
        }
    }

    // Category page
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .products.wrapper.grid.products-grid,
            .toolbar.toolbar-products {
                max-width: 1470px;
                margin: auto;
                padding: 0 15px;
            }
            .page-title-wrapper {
                display: none;
            }
            .banner-category {
                background: #282828;
            }
            .image-banner-category {
                img {
                    height: 100% !important;
                }
            }
            .desc-banner-category {
                color: #fff;
            }
        }
        span.page-count {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: 15px;
            margin: 0;
            color: #a89f9f;
            font-size: 20px;
            line-height: 40px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: auto;
                right: 50%;
                background: #d3d3d3;
                transform: translate(50%, 0);
                width: 98%;
                height: 1px;
            }
        }
    }
    // End

    // Product Page
    .catalog-product-view {
        .products.owl-loaded {
            position: relative;
        }
        .read-more-bt {
            text-align: center;
            margin: 30px 0 0 0;
            text-align: center;
            background: #282828;
            color: #fff;
            padding: 5px 15px;
            transition: .4s ease all;
            cursor: pointer;
            max-width: 100px;
            margin: 30px auto auto;
            border: 1px solid #282828;
            &:hover {
                background: #ffffff;
                border-color:#282828;
                color: #282828;
            }
        }

        // swatch clolor
        .product-info-main {
            .block-shipping-estimation {
                margin-top: 0;
            }
            .product-options-wrapper {
                .swatch-opt {
                    margin: 5px 0;
                }
                .swatch-attribute-label {
                    font-size: 14px;
                    font-weight: 600;
                }
                .swatch-attribute-selected-option {
                    display: none;
                }
                .swatch-attribute {
                    &.size {
                        .swatch-option {
                            width: 45px;
                            font-size: 12px;
                            line-height: 1.5rem;
                            font-weight: 600;
                            margin-right: 30px;
                        }
                    }
                }
                .swatch-attribute {
                    margin-bottom: 0;
                    padding-bottom: 20px;
                    position: relative;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .mage-error {
                        position: absolute;
                        top: auto;
                        bottom: 0;
                        left: 0;
                        right: auto;
                        margin-top: 0;
                    }
                    .swatch-option {
                        margin-bottom: 25px;
                    }
                }
                .swatch-attribute,
                .swatch-attribute.size {
                    .swatch-option {
                        &.selected {
                            &::after {
                                left: auto;
                                right: 50%;
                                transform: translate(50%, 0);
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .swatch-attribute-options {
            .swatch-option {
                position: relative;
                margin-right: 40px;
                overflow: inherit;
                p {
                    position: absolute;
                    bottom: -25px;
                    top: auto;
                    margin: 0;
                    font-size: 12px;
                    width: auto;
                    font-weight: 600;
                }
            }
        }

        // Block Product
        .block.related,
        .block.upsell {
            .product-item {
                .old-price {
                    color: #999999;
                    .price {
                        color: #999999;
                    }
                }
                .special-price {
                    .price {
                        color: red;
                    }
                }
                .price-box .price {
                    font-weight: 400;
                }
            }
            .related-available {
                .product-item-name {
                    margin-left: 0;
                }
            }
            .block-actions {
                display: none;
            }
            .owl-carousel {
                transform: none;
                .owl-nav {
                    top: auto;
                    width: 100%;
                    bottom: 50%;
                }
                div.owl-prev,
                div.owl-next {
                    width: 80px;
                    height: 80px;
                    background-repeat: no-repeat;
                    background:url(../images/gallery.png) center center no-repeat;
                    border: none;
                    top: auto;
                    bottom: 50%;
                    transform: translate(0, 50%);
                    &::before {
                        display: none;
                    }
                }
                .owl-nav {
                    .owl-prev {
                        left: -5px;
                        right: auto;
                        background-position: -80px -80px;
                    }
                    .owl-next {
                        right: 5px;
                        left: auto;
                        background-position: -160px -80px;
                    }
                }
            }
        }
        .page-main {
            max-width: 100%;
            .product-main-content {
                margin: auto;
                max-width: 1470px;
                display: block;
                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }
            }
            .block.related,
            .block.upsell {
                text-align: center;
                background: #fafafa;
                padding-top: 30px;
                margin-bottom: 30px;
                .block-title.title {
                    border: none;
                    strong {
                        font-size: 30px;
                        text-transform: capitalize;
                    }
                }
                .related-upsell-crossell {
                    max-width: 1440px;
                    margin: auto;
                }
            }
        }

        // percent discount label
        ul.cdz-product-labels {
            li.label-item.sale {
                background: #000;
            }
        }

        // Rating
        .product-reviews-summary {
            &.empty {
                .reviews-actions {
                    display: none;
                }
            }
            div.reviews-actions a {
                color: black;
            }
            .rating-summary {
                .rating-result {
                    > span {
                        &::before {
                            color: #f9c712;
                        }
                    }
                }
            }
        }
    
        // product info main
        .product-info-main {
            position: relative;
            .product.attibute.overview,
            .product.attribute.overview {
                margin: 15px 0;
                .title {
                    display: none;
                }
            }
            div#short_description_content {
                p {
                    font-size: 16px;
                    color: #000;
                    padding-left: 35px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    &::before {
                        left: 0;
                        right: auto;
                        position: absolute;
                        content: "\f00c";
                        font-family: 'FontAwesome';
                        color: #008000;
                        font-size: 22px;
                    }
                }
            }
            .stock {
                display: flex;
                align-items: center;
                span.circle {
                    width: 13px;
                    height: 13px;
                    background: #22b14c;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                &.available {
                    span.circle {
                        background: #22b14c;
                    }
                }
                &.unavailable {
                    span.circle {
                        background: yellow;
                    }
                    span {
                        color: yellow;
                    }
                }
                span {
                    text-transform: capitalize;
                    font-size: 14.5px;
                }
            }

            .page-title-wrapper{
                &.product {
                    &::after {
                        content: '';
                        display: table;
                        clear: both;
                    }
                    .page-title {
                        font-size: 30px;
                    }
                    .product.attribute.sku {
                        float: none;
                    }
                    > div {
                        display: block;
                        float: none;
                        margin-bottom: 10px;
                    }
                }
            }
            .product-info-price {
                margin-bottom: 10px;
                margin-top: 10px;
                span.price-label {
                    display: none;
                }
                .price-box {
                    .price-container {
                        .price {
                            font-size: 30px;
                        }
                    }
                    .special-price {
                        .price-container {
                            .price {
                                color: red;
                                font-size: 30px;
                            }
                        }
                    }
                    .old-price {
                        color: #c3c3c3;
                        margin-left: 5px;
                        .price-container {
                            .price-label {
                                display: none;
                            }
                            .price {
                                color: #c3c3c3;
                                font-weight: 400;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .product-addto-links {
                margin-bottom: 0;
            }
            .product-social-links {
                position: absolute;
                margin: 0;
                width: auto;
                left: auto;
                right: 0;
                bottom: 10px;
            }
        }

        // Related Product
        .products-grid {
            .product-item {
                .product-item-info {
                    .cdz-product-bottom {
                        &:not(.non-hover) {
                            top: 0;
                            position: static;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
        .cdz-buttons-container {
            button.tocart.primary {
                font-size: 14px;
                width: auto;
                height: auto;
                padding: 0 15px;
                text-transform: capitalize;
                color: #fff;
                background: #000;
                line-height: 35px;
                border-radius: 3px;
                &::before {
                    display: none;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .category-view {
                .category-description {
                    margin: 0;
                    padding-bottom: 0;
                    .pagebuilder-column-group {
                        min-height: 290px;
                    }
                }
            }
            .banner-category {
                padding: 0 100px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            div.products-grid .desktop_3 .product-items:not(.owl-carousel)>.product-item:nth-child(3n+1) {
                clear: inherit;
            }
            .filter-options {
                -ms-grid-columns: 20% 20% 20% 20% 20%;
                grid-template-columns: 20% 20% 20% 20% 20%;
            }
        }
    }
    div.products-grid .desktop_3 .product-items:not(.owl-carousel) {
        display: flex !important;
        flex-wrap: wrap !important;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view {
        .product-info-main {
            .product-addto-links {
                .action span {
                    padding: 11px 10px;
                }
            }
        }
        .page-main {
            .product.info.detailed {
                max-width: 1470px;
                margin: auto;
                margin-bottom: 30px;
            }
        }
    }
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .page-main {
                max-width: 100%;
                padding: 0;
            }
            .image-banner-category {
                height: 100%;
            }
            .breadcrumbs {
                max-width: 1470px;
                padding: 0 15px;
                .items {
                    padding: 20px 0 20px 0;
                }
            }
            .block.filter {
                padding: 27px 15px 25px 15px;
                background: #f8f8f8;
                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }
            }
            .filter-title {
                display: none;
            }
            .filter-options-item {
                border: 1px solid #e1e1e1;
                width: 100%;
                .filter-options-content {
                    position: absolute;
                    z-index: 9999999;
                    background: #fff;
                    width: 100%;
                    margin: 0;
                    left: 0;
                    right: auto;
                    margin-top: 9px;
                    display: none !important;
                    padding: 10px;
                    border: 1px dashed #e1e1e1;
                }
                &.active {
                    .filter-options-content {
                        display: block !important;
                    }
                }
            }
            .filter-options {
                border: none;
                box-shadow: unset;
                background: transparent !important;
                -ms-grid-columns: 25% 25% 25% 25%;
                grid-template-columns: 25% 25% 25% 25%;
                display: -ms-grid;
                display: grid;
                width: 100%;
            }
            .block-content {
                &.filter-content {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                    height: auto;
                    backface-visibility: visible;
                    max-width: 1440px;
                    margin: auto;
                    &::after {
                        content: '';
                        display: table;
                        clear: both;
                    }
                }
            }
            .column.main {
                .product-list-container,
                .wrapper-breadcrums {
                    max-width: 1470px;
                    margin: auto;
                }
                .product-list-container {
                    padding: 0 15px;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .page-main {
            .block.related,
            .block.upsell {
                padding: 10px;
                .owl-carousel {
                    div.owl-nav {
                        div.owl-prev {
                            left: -40px;
                        }
                        div.owl-next {
                            right: -40px;
                        }
                    }
                }
            }
        }
        .breadcrumbs {
            display: block;
            .items > li {
                margin-bottom: 5px;
            }
        }
        .product.media {
            .fotorama {
                padding-right: 0;
            }
            .fotorama__stage {
                margin-left: 0 !important;
            }
        }
        .product.data.items,
        .tabs-list.product.data.items {
            > .item.title.active {
                > .switch {
                    background: #282828;
                    color: #fff;
                }
            }
        }
    }
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .page-main {
                padding: 0 15px;
            }
            .filter .filter-current {
                margin: 15px 0 0px;
            }
            .banner-category {
                padding: 0;
            }
            &.page-products .sorter {
                top: 10px;
            }
            .columns {
                padding-top: 0;
                .block.filter {
                    padding: 15px;
                    .filter-title strong {
                        position: static;
                    }
                }
            }
            .toolbar-products {
                padding: 15px;
            }
            .filter.active {
                .filter-subtitle {
                    padding: 20px;
                }
                .filter-title {
                    height: 34px;
                    right: 10px;
                    left: auto;
                    top: 10px;
                }
            }
        }
    }
}
