// Product List

.product-style10 {
    .product-item {
        .product-item-info {
            .addto-hover-container {
                top: auto;
                bottom: 50%;
                height: auto;
            }
        }
    }
}


// Category page
.page-layout-1column {
    &.page-with-filter.catalog-category-view {
        .page-title-wrapper {
            display: none;
        }
        .banner-category {
            background: #282828;
        }
        .image-banner-category {
            img {
                height: 100% !important;
            }
        }
        .desc-banner-category {
            color: #fff;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .category-view {
                .category-description {
                    margin: 0;
                    padding-bottom: 0;
                }
            }
            .banner-category {
                padding: 0 100px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .filter-options {
                -ms-grid-columns: 20% 20% 20% 20% 20%;
                grid-template-columns: 20% 20% 20% 20% 20%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .page-main {
                max-width: 100%;
                padding: 0;
            }
            .image-banner-category {
                height: 100%;
            }
            .breadcrumbs {
                max-width: 1470px;
                padding: 0 15px;
                .items {
                    padding: 20px 0 20px 0;
                }
            }
            .block.filter {
                padding: 27px 15px 25px 15px;
                background: #f8f8f8;
                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }
            }
            .filter-title {
                display: none;
            }
            .filter-options-item {
                border: 1px solid #e1e1e1;
                width: 100%;
                .filter-options-content {
                    position: absolute;
                    z-index: 9999999;
                    background: #fff;
                    width: 100%;
                    margin: 0;
                    left: 0;
                    right: auto;
                    margin-top: 9px;
                    display: none !important;
                    padding: 10px;
                    border: 1px dashed #e1e1e1;
                }
                &.active {
                    .filter-options-content {
                        display: block !important;
                    }
                }
            }
            .filter-options {
                border: none;
                box-shadow: unset;
                background: transparent !important;
                -ms-grid-columns: 25% 25% 25% 25%;
                grid-template-columns: 25% 25% 25% 25%;
                display: -ms-grid;
                display: grid;
                width: 100%;
            }
            .block-content {
                &.filter-content {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                    height: auto;
                    backface-visibility: visible;
                    max-width: 1440px;
                    margin: auto;
                    &::after {
                        content: '';
                        display: table;
                        clear: both;
                    }
                }
            }
            .column.main {
                .product-list-container,
                .wrapper-breadcrums {
                    max-width: 1470px;
                    margin: auto;
                }
                .product-list-container {
                    padding: 0 15px;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-layout-1column {
        &.page-with-filter.catalog-category-view {
            .page-main {
                padding: 0 15px;
            }
            .filter .filter-current {
                margin: 15px 0 0px;
            }
            .banner-category {
                padding: 0;
            }
            &.page-products .sorter {
                top: 10px;
            }
            .columns {
                padding-top: 0;
                .block.filter {
                    padding: 15px;
                    .filter-title strong {
                        position: static;
                    }
                }
            }
            .toolbar-products {
                padding: 15px;
            }
            .filter.active {  
                .filter-subtitle {
                    padding: 20px;
                }
                .filter-title {
                    height: 34px;
                    right: 10px;
                    left: auto;
                    top: 10px;
                }
            }
        }
    }
}