<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference
            for="Cminds\Salesrep\Api\SalesrepRepositoryInterface"
            type="Cminds\Salesrep\Model\ResourceModel\SalesrepRepository"
    />
    <type name="Magento\Developer\Model\TemplateEngine\Plugin\DebugHints">
        <arguments>
            <argument name="debugHintsPath" xsi:type="string">dev/debug/template_hints_storefront</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="Cminds_Salesrep::add_advisor" type="Cminds\Salesrep\Plugin\Repository\Order"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="product_commission_group_listing_data_source" xsi:type="string">Cminds\Salesrep\Model\ResourceModel\CommissionGroup\Search\Grid</item>
                <item name="product_commission_group_form_data_source" xsi:type="string">Cminds\Salesrep\Model\ResourceModel\CommissionGroup\Search\Grid</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="active_auction_end" xsi:type="object">Cminds\Salesrep\Console\Command\EmulateCron</item>
            </argument>
        </arguments>
    </type>
</config>
