<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="cminds_salesrep_place_order_after"
            instance="Cminds\Salesrep\Observer\SaveSalesrepCheckout"/>
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="cminds_salesrep_add_variable_to_order_email" 
            instance="Cminds\Salesrep\Observer\AddOrderEmailVariable" />
    </event>
    <event name="order_cancel_after">
        <observer name="cminds_salesrep_order_cancel_after"
                  instance="Cminds\Salesrep\Observer\SaveSalesrepOrderCancel"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="cminds_salesrep_order_cancel_after"
                  instance="Cminds\Salesrep\Observer\SaveSalesrepCreditMemoSaveAfter"/>
    </event>
</config>