<?xml version="1.0"?>
<!--
 * @component  Goivvy_DecimalPlaces
 * @copyright  Copyright (c) 2017 Goivvy.com. (https://www.goivvy.com)
 * @license    https://www.goivvy.com/license Commercial License
 * @author     Goivvy.com developer team <team@goivvy.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="goivvy" translate="label" sortOrder="1000">
            <label>Goivyy</label>
        </tab>
        <section id="goivvydecimalplaces" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Price Decimal Places</label>
            <tab>goivvy</tab>
            <resource>Goivvy_DecimalPlaces::goivvy_decimalplaces</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="active" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Active</label>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     <comment><![CDATA[Should we change price decimal places?]]></comment>
                </field>
                <field id="place" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                      <label>Number of digits right of the decimal point</label>
                      <source_model>Goivvy\DecimalPlaces\Model\Config\Source\Place</source_model>
                      <comment><![CDATA[3 means your prices will be in a form $4.324]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
