<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Cminds_Salesrep::report_salesrep"
                title="Sales Representative"
                module="Cminds_Salesrep"
                sortOrder="120"
                parent="Magento_Reports::report"
                resource="Cminds_Salesrep::sales_and_commission_reports"
        />
        <add
                id="Cminds_Salesrep::commissions"
                title="Commissions"
                module="Cminds_Salesrep"
                sortOrder="60"
                parent="Cminds_Salesrep::report_salesrep"
                action="salesrep/report/commissions"
                resource="Cminds_Salesrep::sales_and_commission_reports"
        />
        <add
                id="Cminds_Salesrep::gross_sales"
                title="Gross Sales by Rep"
                module="Cminds_Salesrep"
                sortOrder="60"
                parent="Cminds_Salesrep::report_salesrep"
                action="salesrep/report/gross"
                resource="Cminds_Salesrep::sales_and_commission_reports"
        />

        <add
            id="Cminds_Salesrep::salesrep_settings"
            title="Sales Representative"
            translate="title"
            module="Cminds_Salesrep"
            sortOrder="50"
            parent="Magento_Backend::stores"
            resource="Cminds_Salesrep::salesrep_settings"
        />

        <add
            id="Cminds_Salesrep::commission_groups"
            title="Product Commission Groups"
            module="Cminds_Salesrep"
            sortOrder="10"
            parent="Cminds_Salesrep::salesrep_settings"
            action="salesrep/product_commission/index"
            resource="Cminds_Salesrep::commission_groups"
        />

    </menu>
</config>
